@import 'tailwindcss';



.active{
    background: white;
    color: #2C666E;
}

@keyframes fallDown {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  30% {
    transform: translateY(10px) rotate(-2deg);
  }

  60% {
    transform: translateY(80px) rotate(6deg);
  }

  100% {
    transform: translateY(200px) rotate(12deg);
    opacity: 0;
  }
}